/* Style swatch: https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25 */

* {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

body {
    background-color: #fefae0;
}

img {
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: Poppins, arial, sans-serif;
    font-size: 400%;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    color: black;
    margin: 25px;
}

h2 {
    font-family: Poppins, arial, sans-serif;
    font-size: 300%;
    text-align: center;
    padding: 2px;
    color: #283618;
    margin: 32px;
}

h3 {
    font-family: Poppins, arial, sans-serif;
    font-size: 150%;
    font-weight: normal;;
    text-align: center;
    padding: 10px;
    color: #283618;
    margin: 20px 32px;
}

h4 {
    font-family: Poppins, arial, sans-serif;
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    color: #606C38;
    margin: 5px 5px;
}

p {
    font-family: Lora, "helvetica", serif;
    text-align: center;
    padding: 10px;
    color: #283618;
    margin: 5px 26px;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a:active {
    opacity: 0.5;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 10px auto;
}

.employer {
    display: block;
    background-color: rgba(0, 128, 0, 0.145);
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
}

.employername {
    text-align: left;
    font-family: poppins, sans-serif;
    font-size: 150%;
    font-weight: bold;
    box-shadow: 0px 4px;;
}

.block {
    background-color: #DDA15E;
    border-radius: 15px;
    margin: 10px 32px;
    width: 400px;
    display: inline-block;
}

.block p {
    margin: 20px 32px;
}

.block h3 {
    margin-top: 15px;
    margin-bottom: 0px;
}

table, th, td {
    font-family: Lora, serif;
    border: 2px solid #283618;
    border-collapse: collapse;
    padding: 10px;
}

table {
    display: block;
    border: 0px;
    margin: 10px 30px;
}

th {
    font-weight: bold;
    background-color: #DDA15E;
}

.cv-tab {
    margin-bottom: 40px;
}

#transparent {
    opacity: 0.5;
}

#code {
    font-family: monospace;
    font-weight: bold;
}

nav {
    display: block;
    position: sticky;
    top: 0px;
    background-color: #fefae0;
}

nav a {
    font-weight: normal;
}

footer {
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: Lora, "helvetica", serif;
    padding: 5px;
    text-align: right;
    color: #283618;
    top: 20px;
}