:root {
    --bg-color: rgb(33, 33, 73);
    --bg-secondary: rgba(21, 21, 233, 0);
    --bg-tertiary: rgb(97, 97, 213);
    --accent-color: rgba(40, 240, 80, 0.755);
    --text-color-main: rgb(241, 241, 241); 
    --sans-font: "Montserrat", helvetica, sans-serif;
}


/* General */
/* --------- */

body {
    background-color: var(--bg-color);
    color: var(--text-color-main);
    font-family: var(--sans-font);

    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 4;

    transition: background-color 0.2s linear;
}

header {
    position: fixed;
    right: 5%;
    top: 5%;
}

header i {
    padding: 0.2rem;
    font-size: 1.5rem;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 200;
}

h5 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

p, li {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
}

li i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.link {
    text-decoration: underline;
    text-underline-position: under;
    transition: font-size 0.5s;
}

.link:hover {
    font-size: 1rem;
}

.link:active {
    opacity: 0.7;
}


/* Header */
/* ------------ */

#header-box:before {
    content: "";
    grid-column: 2;
    grid-row: 1;
    height: 12rem;
}

#header-box {
    flex-wrap:nowrap;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1 / 2;
    padding: 1rem;
}

#email-dropdown {
    position: absolute;
    right: 0px;
    display: none;
    padding: 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 3px;
}

#email-dropdown p {
    line-height: 0.5rem;
}

#header-box:after {
    content: "";
    grid-column: 2;
    grid-row: 2 / 3;
    height: 6rem;
}

#header-box h1, #header-box h2 {
    text-align: left;
}


/* Buttons */
/* ------------ */

#project-button-container {
    position: relative;
    bottom: 33%;
    grid-column: 2;
    grid-row: 2;
    width: 60vw;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 1rem;
}

.project-button {
    width: 25%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 3px;
    transition: background-color 0.5s;
    box-shadow: rgba(245, 245, 245, 0.163) 0.2rem 0.2rem;
}

.project-button:hover {
    background-color: rgb(44, 106, 160);
}

.project-button:active {
    opacity: 0.7;
    position: relative;
    top: 0.2rem;
    left: 0.2rem;
    box-shadow: rgba(245, 245, 245, 0.344) 0rem 0rem;
}


/* Project info-box */
/* ------------ */

.project-info-box {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50vh;   
    min-height: 10rem;
    width: 60vw;
    overflow: hidden;
    border: 1px solid var(--accent-color);
    border-radius: 3px;
    padding: 0.33rem;
    transition: opacity 0.5s;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#project-box-one {
    opacity: 0;
}

#project-box-two {
    opacity: 0;
}

#project-box-three {
    opacity: 0;
}

.project-text-box {
    padding-left: 0.5rem;
    background-color: var(--bg-secondary);
    min-height: 10rem;
    max-width: 45%;
    overflow: hidden;
}

.project-built-with-box {
    width: 45%;
}

.project-image-box {
    align-self: center;
    width: 100%;
    flex-grow: 1;
}

.project-info-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
    opacity: 0.6;
    transition: opacity 0.5s;
}

.project-info-img:hover {
    opacity: 1;
}

/* Mobile adjustments */

@media screen and (max-width: 800px) {
    #project-button-container {
        margin: 0 auto;
    }
    
    .project-info-box {
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0px;
        justify-content: start;
        height: 50vh;
    }

    .project-text-box {
        max-width: 80%;
        min-height: 0;
    }

    .project-built-with-box {
        width: 80%;
    }
}