:root {
    --bg-color: rgb(33, 33, 73);
    --accent-color: rgb(40, 240, 80);
    --text-color-main: rgb(241, 241, 241); 
    --sans-font: "Montserrat", helvetica, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color-main);
    font-family: var(--sans-font);

    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 5;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 200;
}

h5 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

#header-box:before {
    content: "";
    grid-column: 2;
    grid-row: 1;
    height: 6rem;
}

#header-box {
    flex-wrap:nowrap;
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    /*position: absolute;
    top: 25vh;
    left: 20vw;*/
}

#header-box:after {
    content: "";
    grid-column: 2;
    grid-row: 3;
    height: 6rem;
}

#header-box h1, #header-box h2 {
    text-align: left;
}

#project-button-container {
    /* border: 3px solid red; */
    /*position: absolute;
    top: 50vh;
    left: 20vw;*/
    grid-column: 2;
    grid-row: 3;
    width: 60vw;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 1rem;
}

.project-button {
    width: 25%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 3px;
    transition: background-color 0.5s;
    box-shadow: rgba(245, 245, 245, 0.344) 0.2rem 0.2rem;
}

.project-button:hover {
    background-color: rgb(44, 106, 160);
}

.project-button:active {
    opacity: 0.7;
    position: relative;
    top: 0.2rem;
    left: 0.2rem;
    box-shadow: rgba(245, 245, 245, 0.344) 0rem 0rem;
}